* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
.navbar{
  width: 100%;
  height: auto;
  padding: 30px 10px;
  background-color: #f4f4f4;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 50%;
  height: 50px;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
.countryGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.countryCard {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.countryCard img {
  width: 100%;
  height: 150px;
}
