*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
button {
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.loader{
  /* border: 1px solid red; */
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
